
<h2>Custom Select Box</h2>
<div class="select-box">
    <span class="dropdown-icon">
        <img #dropDownIcon width="24px" src="../../../assets/svg/down-arrow.svg" (click)="selectListItemsShow()">
    </span>
    <input class="select-input" placeholder="Select Animal ..." [(ngModel)]="animal" tabindex="0" #customSelect (focus)="selectListItemsShow()" type="text">
    <ul class="list-items" (blur)="hideListItems()">
        <li *ngFor="let item of animals; let i = index" tabindex="{{i}}" class="list-item" (click)="setSelectedValue($event)">{{item}}</li>
    </ul>
</div>