<section>
    <div class="todos-section">
        <h1 class="text-center">Todo List</h1>
        <div class="width">
            <div class="todo" [ngClass]="{completed: todo.completed}" *ngFor="let todo of todos">
                <span>{{todo.title}}</span>
            </div>
        </div>
    </div>
    <div class="time-section">
        <h1>Time</h1>
        <div>
            <table>
                <thead>
                    <tr>
                        <th style="width: 75%;">Title</th>
                        <th style="width: 25%;">Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let time of times">
                        <td>{{time.title}}</td>
                        <td>{{time.time}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <app-toaster message="Hello World"></app-toaster>
</section>
