<div class="row mx-auto">
    <div class="col-12 shadow-section">
        <h2>Orignal</h2>
        <div class="">
            <img class="" src='../../../assets/image/transparent-background-image.png' alt='transparent image'>
        </div>
    </div>
    <div class="col-12 shadow-section">
        <h2>With Drop Shadow</h2>
        <div class="">
            <img class="drop-shadow" src='../../../assets/image/transparent-background-image.png' alt='transparent image'>
        </div>
    </div>
    <div class="col-12 shadow-section">
        <h2>With Box Shadow</h2>
        <div class="">
            <img class="box-shadow" src='../../../assets/image/transparent-background-image.png' alt='transparent image'>
        </div>
    </div>
</div>