.shadow-section{
    text-align: center;
    border: 1px solid gray;
    padding: 10px;
}

img{
    width: 500px;
    object-fit: cover;
}

.drop-shadow{
    filter: drop-shadow(2px 4px 8px #585858);
}

.box-shadow{
    box-shadow: 2px 4px 8px #585858;
}