<p>Anyone Can Access this Component</p>

<div class="card" style="width: 18rem;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><span>Name: </span><span *ngIf="formData.name">{{formData.name}}</span></li>
    <li class="list-group-item"><span>Email: </span><span *ngIf="formData.email">{{formData.email}}</span></li>
    <li class="list-group-item"><span>Password: </span><span *ngIf="formData.password">{{formData.password}}</span></li>
    <li class="list-group-item"><span>Phone: </span><span *ngIf="formData.phone">{{formData.phone}}</span></li>
  </ul>
</div>

<mat-horizontal-stepper [linear]="isLinear" #stepper labelPosition="bottom">
    <!-- Step Name -->
    <mat-step [stepControl]="formNameGroup" label="Name" >
      <div style="padding-top: 3%;">
          <form [formGroup]="formNameGroup">
              <div class="example-form">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Name" required formControlName="userName">
                  <mat-error *ngIf="formNameGroup.controls['userName'].hasError('required')">
                          Username is required!
                      </mat-error>
                </mat-form-field>
              </div>
              <br/>
              <button mat-raised-button color="primary" [disabled]="!formNameGroup.valid" matStepperNext>Next</button>
          </form>
      </div>
    </mat-step>
  
    <!-- Step Password -->
    <mat-step [stepControl]="formPasswordGroup" label="Password" >
      <div style="padding-top: 3%;">
          <form [formGroup]="formPasswordGroup">
              <div class="example-form">
                <mat-form-field class="example-full-width">
                  <input type="password" matInput placeholder="Password" required formControlName="password">
                  <mat-error *ngIf="formPasswordGroup.controls['password'].hasError('required')">
                          Password is required!
                      </mat-error>
                </mat-form-field>
              </div>
              <br/>
              <button mat-raised-button color="primary" matStepperPrevious>Back</button> &nbsp; &nbsp;
              <button mat-raised-button color="primary" [disabled]="!formPasswordGroup.valid" matStepperNext>Next</button>
          </form>
      </div>
    </mat-step>
  
    <!-- Step Email -->
    <mat-step [stepControl]="formEmailGroup" label="Email" >
      <div style="padding-top: 3%;">
          <form [formGroup]="formEmailGroup">
              <div class="example-form">
                <mat-form-field class="example-full-width">
                  <input type="text" matInput placeholder="Email" required formControlName="emailID">
                  <mat-error *ngIf="formEmailGroup.controls['emailID'].hasError('required')">
                          Email is required!
                      </mat-error>
                  <mat-error *ngIf="formEmailGroup.controls['emailID'].hasError('email')">
                      Email is not Valid!
                  </mat-error>
                </mat-form-field>
              </div>
              <br/>
              <button mat-raised-button color="primary" matStepperPrevious>Back</button> &nbsp; &nbsp;
              <button mat-raised-button color="primary" [disabled]="!formEmailGroup.valid" matStepperNext>Next</button>
          </form>
      </div>
    </mat-step>
  
    <!-- Step Phone -->
    <mat-step [stepControl]="formPhoneGroup" label="Mobile" >
      <div style="padding-top: 3%;">
          <form [formGroup]="formPhoneGroup">
              <div class="example-form">
                <mat-form-field class="example-full-width">
                  <input type="tel" matInput placeholder="Mobile" formControlName="mobile">
                  <mat-error *ngIf="formPhoneGroup.controls['mobile'].hasError('required')">
                          Mobile is required!
                      </mat-error>
                   <mat-error *ngIf="formPhoneGroup.controls['mobile'].hasError('min')">
                          Mobile No is Wrong!
                      </mat-error>
                </mat-form-field>
              </div>
              <br/>
              <button mat-raised-button color="primary" matStepperPrevious>Back</button> &nbsp; &nbsp;
              <button mat-raised-button color="primary" matStepperNext>Next</button>
          </form>
      </div>
    </mat-step>

    <!-- Step Review -->
    <mat-step>
      <ng-template matStepLabel>Review</ng-template>
      <h5>You are now done.</h5>
      <div>
          <button mat-raised-button color="primary" matStepperPrevious>Back</button> &nbsp; &nbsp;
          <button mat-raised-button color="accent" (click)="onSubmit()" type="submit">Submit</button> &nbsp; &nbsp;
          <button mat-raised-button color="warn" (click)="resetStepperForm(stepper)">Reset</button>
      </div>
    </mat-step>
  
  </mat-horizontal-stepper>