section{
    width: 90%;
    margin: auto;
}

.select-section{
    flex: 1 1 50%;
}

.datalist-section{
    flex: 1 1 50%;
}

.value{
    font-size: 24px;
    font-weight: 600;
    color: blueviolet;
}

.datalist-dropdown{
    position: relative;
    display: inline-block;
}

.dropdown{
    padding: 10px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid blueviolet;
    color: cornflowerblue;
}

.dropdown-icon{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background-color: white;
    display: none;
}

.dropdown-icon > img{
    width: 24px;
    height: 24px;
}

.datalist-dropdown:hover > .dropdown-icon, .datalist-dropdown .dropdown:focus + .dropdown-icon{
    display: block;
}