<h3>Current User = {{currentUser | async}}</h3>

<div>
    <button (click)="setDataFetchTypeFlag(false)" class="btn btn-service">Load Data Through Service</button>
    <button (click)="setDataFetchTypeFlag(true)" class="btn btn-resolve">Load Data Through Router Resolve</button>
</div>
<div class="mt-3">
    <label class="mr-2" for="message">Type Toaster Message</label>
    <input [(ngModel)]="message">
    
    <div class="mt-3">
        <button class="btn-toaster success" (click)="toaster({message: message, type: 'success', time: 3000})">Success</button>
        <button class="btn-toaster error" (click)="toaster({message: message, type: 'error', time: 3000})">Error</button>
        <button class="btn-toaster warning" (click)="toaster({message: message, type: 'warning', time: 3000})">Warning</button>
        <button class="btn-toaster info" (click)="toaster({message: message, type: 'info', time: 3000})">Info</button>
    </div>
</div>
