<section [ngClass]="{show: show, shadow: true, info: options.type === 'info', success: options.type === 'success', error: options.type === 'error', warning: options.type === 'warning'}">
    <div class="toaster">
        <div class="message">
            <span class="mr-2" [ngSwitch]="options.type">
                <span *ngSwitchCase="'info'"> <img src="../../../assets/svg/info.svg"> </span>
                <span *ngSwitchCase="'error'"> <img src="../../../assets/svg/error.svg"> </span>
                <span *ngSwitchCase="'success'"> <img src="../../../assets/svg/checked.svg"> </span>
                <span *ngSwitchCase="'warning'"> <img src="../../../assets/svg/danger-sign.svg"> </span>
                <span *ngSwitchDefault><img src="../../../assets/svg/info.svg"></span>
            </span>
            <span class="mr-2 toaster-heading" [ngSwitch]="options.type">
                <span *ngSwitchCase="'info'"> <strong>Info</strong> </span>
                <span *ngSwitchCase="'error'"> <strong>Error</strong> </span>
                <span *ngSwitchCase="'success'"> <strong>Success</strong> </span>
                <span *ngSwitchCase="'warning'"> <strong>Warning</strong> </span>
            </span>
            <div class="mt-2">{{options.message}}</div>
        </div>
        <div [ngClass]="{'time-bar-show': show, 'time-bar': true}"></div>   
    </div>
</section>