section{
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    min-width: 300px;
    min-height: 100px;
    z-index: 1000;
    border-radius: 5px;
    margin-right: 15px;
    margin-top: 15px;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    opacity: 0;
    transition-delay: 1000ms;
    transition: all 150ms ease-in-out;
    transform: translateX(calc(100% + 15px));
    padding: 20px;
}

.show{
    transform: translateX(0%);
    opacity: 1;
}

.toaster{
    height: 100%;
}

.time-bar{
    position: absolute;
    bottom: 0;
    left: -10px;
    right: -10px;
    height: 6px;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 12px;
    width: 0px;
    /* If we want to perform animation two way */
    /* transition: width 3000ms linear; */
}

.time-bar-show{
    /* If we want to perform animation one way */
    transition: width 3000ms linear;
    width: calc(100% + 20px);
    opacity: 1;
}

.success{
    background-color: #75d10e;
}

.info{
    background-color: #35c4fc;
}

.warning{
    background-color: #ffb70a;
}

.error{
    background-color: #f23950;
}

img{
    width: 24px;
    height: 24px;
}

