ul{
    list-style: none;
    padding: 0px;
}

li{
    margin-bottom: 10px;
    padding-left: 20%;
}

li a {
    color: #949494;
    text-decoration: none;
}

.active{
    color: blueviolet!important;
}