<div>
    <ul>
        <li>
            <a routerLink="/home" routerLinkActive="active">
                Home
            </a>
        </li>
        <li *ngIf="checkUser('alpha')">
            <a routerLink="/alpha" routerLinkActive="active">
                Aplha
            </a>
        </li>
        <li *ngIf="checkUser('beta')">
            <a routerLink="/beta" routerLinkActive="active">
                Beta
            </a>
        </li>
        <li *ngIf="checkUser('gamma')">
            <a routerLink="/gamma" routerLinkActive="active">
                Mat Stepper
            </a>
        </li>
        <li>
            <a routerLink="/datalist" routerLinkActive="active">
                Select vs Datalist
            </a>
        </li>
        <li>
            <a routerLink="/newHtml" routerLinkActive="active">
                Display New Html Code
            </a>
        </li>
        <li>
            <a routerLink="/dropshadow" routerLinkActive="active">
                DropShadow vs BoxShadow
            </a>
        </li>
    </ul>
</div>
