<div>
    <ul>
        <li>
            <a routerLink="/home" routerLinkActive="active">
                Home
            </a>
        </li>
        <li *ngIf="checkUser('alpha')">
            <a routerLink="/alpha" routerLinkActive="active">
                Aplha
            </a>
        </li>
        <li *ngIf="checkUser('beta')">
            <a routerLink="/beta" routerLinkActive="active">
                Beta
            </a>
        </li>
        <li *ngIf="checkUser('gamma')">
            <a routerLink="/gamma" routerLinkActive="active">
                Gamma
            </a>
        </li>
    </ul>
</div>
